# Dependencies
node_modules/

# Environment Variables
.env

# Logs
*.log

# Build folders
dist/
build/

# Coverage reports
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/